* {
		margin: 0px;
		padding: 0px;
		list-style: none;
		text-decoration: none;

	}
	html,body{
		/*background: #e4e5e7;*/

	}
	.el-collapse-item__header{
		height: auto;
	}
	.el-table--scrollable-y .el-table__body-wrapper {
     overflow:hidden; 
}
	.header {
		width: 100%;
		height: 60px;
		background: #ffff;
		padding: 0px;
		margin: 0px;
		position: absolute;
		top:0px;
		z-index: 9999999999;
	}
	.logo{
		width:15%;
		height:44px;
		float:left;
		margin-left:2%;
		margin-top:8px;
	}
	.headerright{
		width: 10%;
		height: 60px;
		background: #fff;
		padding: 0px;
		float:right;
		margin: 0px;
	}
	.imglog{
		width:40px;
		height:40px;
		display:block;
		border-radius: 50%;
		background:#EEEEEE;
		position: absolute;
		right:5%;
		top: 12px;
	}
	.imglog img{
		width:100%;
		height:100%;
		border-radius: 50%;
	}
	.tui{
		width:50px;
		height:60px;
		border:none;
		background:#fff;
		color:#666;
		position: absolute;
		right:1%;
	}
	.tui:hover{
		background:#9dda00;
		color:#fff;
	}
	.content {
		width: 100%;
		height:100%;
		margin-top: 60px;
		margin-bottom: 50px;
		position:absolute;
		/*overflow:auto;*/
		/*word-break:break-all;*/
		background: #e4e5e7;
		z-index: 66666;
	}
	
	.conleft {
		width: 200px;
		height: 100%;
		background: #273238;
		float: left;
		margin-top:0.5%;
	}
	
	.ul{
		width: 100%;
		height: 100%;
	}
	.s0{
		display: block;
		float: left;
		width: 100%;
		height: 50px;
		text-align: center;
		line-height: 50px;
		color: #fff;
		background:#273238;
		margin-bottom:0.2%;
	}
	.zi{
		display: block;
		width: 100%;
		height: 50px;
		color:#fff;
		background:#00bafc;
	}
	.s1{
		display: block;
		float: left;
		width: 100%;
		height: 50px;
		line-height: 50px;
		color: #999;
		background:#273238;
	}
	.s1:hover{
		background:#00bafc;
		color:#fff;
	}
	.s2{
		display: block;
		float: left;
		width: 100%;
		height: 50px;
		text-align: center;
		line-height: 50px;
		color: #999;
		background:#273238;
	}
	.s2:hover{
		background:#00bafc;
		color:#fff;
	}
	.s3{
		display: block;
		float: left;
		width: 100%;
		height: 50px;
		text-align: center;
		background:#273238;
		color: #999;
		line-height: 50px;
	}
	.s3:hover{
		background:#00bafc;
		color:#fff;
	}
	.s4 {
		display: block;
		float: left;
		width: 100%;
		height: 50px;
		text-align: center;
		background:#273238;
		color: #999;
		line-height: 50px;
	}
	.s4:hover{
		background:#00bafc;
		color:#fff;
	}
	.s11 {
	    display: block;
	    margin: 0;
	    padding: 0 15px 0px 58px;
	    text-decoration: none;
	    font-size: 14px;
	    font-weight: 300;
	    background: none;
	    color: #b4bcc8;
	}
	.s11:hover{
		color: #fff;
	}
	.el-collapse{
		background:#273238 !important;
		border:none;
		margin-top:60px;
	}
	.el-collapse:hover{
		background:#00bafc !important;
	}
	.el-collapse-item{
		background:#273238 !important;
		border:none;
	}
	.el-collapse-item:hover{
		background:#00bafc !important;
	}
	.el-collapse-item__wrap{
		background:#273238 !important;
		border:none;
	}
	/*.el-collapse-item__wrap:hover{
		background:#00bafc !important;
	}*/
	.conleft .el-collapse-item__header{
		background:#273238 !important;
		border:none;
		color:#b4bcc8;
		padding: 0 5% 0 10%;
		font-size: 15px;
	}
	.conleft .header-icon .el-icon-tickets{
		width: 30px !important;
	}
	.el-collapse-item__header:hover{
		background:#00bafc !important;
		border:none;
		color:#b4bcc8;
		
	}
	.conright {
		width: calc(100% - 250px);
		margin-left:1%;
		height: 100%;
		float: left;
		margin-top:0.5%;
	}
	.el-tabs{
		height:50px;
	}
	.el-tabs__nav{
		border:1px solid #fff !important;
	}
	.el-tabs__item{
		color:#666 !important;
	}
	.footer {
		width: 100%;
		height: 40px;
		background: #fff;
		color: #ccc;
		text-align: center;
		line-height: 40px;
		font-size: 12px;
		position:fixed;
		bottom:0px;
		z-index: 8888888;
	}
	.progress-bar {
		position:fixed;
		top: 60px;
		height: 2px;
		width: 100%;
		background-color: #00BAFC;
	}
	.progressContainer{  
          height: 2px;  
          width: 100%;  
          border-radius: 10px;  
          background-color: #ddd;  
        /*  margin-left: 2%;  */
}  
div.progress{  
            background-color: #1C8DE0;  
            border-radius: 10px;  
            height:2px;  
            line-height: 20px;  
}  
b{  
              color:#fff;  
              font-weight: 100;  
              font-size: 12px;  
              position:absolute;  
          left:40%;   
 }  